<!doctype html>
<html lang="en">
  <head>
  {% PageMetadata page=page, title=title, description=description, ogImage=ogImage %}
  <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>